#
#{{ website_name }} - vHost file
#

###################################################################

<Directory /var/www/html/{{ virtualhost_domain }}>
    Options -Indexes FollowSymlinks
    AllowOverride All
</Directory>

<VirtualHost *:80>
    ServerAdmin webmaster@{{ virtualhost_domain }}
    DocumentRoot "{{ app_path }}{{ virtualhost_domain }}"
    Options -Indexes FollowSymlinks
    ServerName {{ website_name }}
    ServerAlias *.{{ website_name }}
    ErrorLog "/var/log/httpd/{{ virtualhost_domain }}-error_log"
    CustomLog "/var/log/httpd/{{ virtualhost_domain }}-access_log" combined
</VirtualHost>
